* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
    font-family: 'Press Start 2P', cursive; /* Fuente retro */
    background-image: url("42332.jpg");
    background-size: cover; /* Para cubrir todo el fondo */
    background-position: center;
    min-height: 100vh;
    width: 100%;

  }

  /* Heading Styles */
  h1 {
    color: #1d00fd; /* Color vibrante */
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 2px 2px 0 #000, 4px 4px 0 #ff6b6b; /* Sombra de texto para efecto retro */
  }

  /* Container for the content */
  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(48, 40, 40, 0.6);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    align-items: center;
  }

  /* Styles for individual components */
  app-empleados {
    color: red;
  }
  app-empleado,
  app-informaticos {
    background-color: #444;
    color: #f0f0f0; /* Texto claro */
  }
  .input {
    background-color: #333;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    align-items: center;
  }
  .prueba{
    color:#ff6b6b;
  }
