<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Angular App</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap">
<link rel="stylesheet" href="app.component.css">
</head>
<body>
  <div>
    <h1>Hello New Player, {{ title }}</h1>
  <br/>
  <br/>
  <app-empleados></app-empleados>
  <br/>
  <app-empleado> </app-empleado>

</div>
</body>
</html>
